<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158814522980-o1ng87682humusmatsgt98asai8ssugo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158814522980-o1ng87682humusmatsgt98asai8ssugo</string>
	<key>API_KEY</key>
	<string>AIzaSyBC_hVog66aTexOLLVu2xsh0TFZGn8Gz8g</string>
	<key>GCM_SENDER_ID</key>
	<string>158814522980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.teamdcs.homeversityStudent</string>
	<key>PROJECT_ID</key>
	<string>homeversity-attendance-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>homeversity-attendance-manager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158814522980:ios:99894704768c8a01f5d971</string>
	<key>DATABASE_URL</key>
	<string>https://homeversity-attendance-manager-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>